template(name="gridThumbnail")
  li.col-md-6
    .grid-thumbnail.well
      h4= title
      p= description
      .row
        .col-md-12
          each tags
            span.label.label-info= this
      br
      +launchGameBtn
      .animated-btn
        a.btn.btn-primary.join-game-btn(href="#") Join !
          span.badge= games.count
        ul.games-creator-list
          each games
            +gridGamesList

template(name="gridGamesList")
  li.btn.btn-info
    a.join-game(href="#")=creator.name